.divider {
  border-top: 1px solid #dddddd;
  margin: 1rem 0;
}

.container {
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
  box-sizing: border-box;
}

.border {
  padding: 1rem;
  margin: 1rem auto;
  min-width: 60vw;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #cdcaca;
}

.m-w\:fit-content {
  min-width: fit-content !important;
}

.title {
  color: $primary-color;
}
