.product {
  max-width: 1175px;
  margin: 0 auto;
  padding-top: 4rem;
  margin-bottom: 4rem;

  @media(max-width: 840px) {
    padding: 2rem 2rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 8rem;

    &--image {
      width: 500px;
      height: 500px;

      @media(max-width: 840px) {
        margin: 0 auto;
        width: 300px;
        height: 300px;
      }
    }

    @media(max-width: 840px) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__name {
    font-weight: 600;
    color: $primary-color;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--price {
      font-size: 2rem;
      color: $primary-color;
      font-weight: 600;
      font-family: Montserrat, sans-serif;
    }
    &--buy {
      margin-top: 1.5rem;
      button {
        font-size: 1.25rem;
      }
    }

    &--installments {
      font-size: 1.25rem;
      font-weight: 500;

      span {
        color: $primary-color;
      }
    }
  }
  &__variants {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 600;
    &--radio-group {
      font-weight: 600;
    }
  }

  &__description {
    margin-top: 4rem;
    &--title {
      font-size: 1.5rem;
      font-weight: 600;
      color: $primary-color;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
    &--text-white-space {
      white-space: pre-line;
    }

    &--text {
      color : #333639;
    }
    &--collapse {
      margin-top: 2rem;

      
    }

    &--collapse-item {
      :deep(.n-collapse-item__header .n-collapse-item__header-main) {
        justify-content: space-between;

        .n-collapse-item-arrow {
          font-size: 30px;
        }
      }
    }
  }
}
