@import '@/assets/scss/variables';

.sidenav {
  &__toggle-btn {
    color: $primary-color;
  
    &:hover {
      color: $primary-color-hover;
    }
  
    &:active {
      color: $primary-color-pressed;
    }
    
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__menu {
    list-style: none;
    padding: .5rem 0;

    & > li {
      margin-bottom: .25rem;
      display: block;

      &:last-child {
        margin: 0;
      }
    }

    .menu-link{
      display: flex;
      width: 100%;
      align-items: center;
      padding: 0 1rem;
      height: 2.5rem;
      font-size: .75rem;
      line-height: 1.25rem;
      font-weight: 600;
      transition: all 0.2s ease;

      &:hover {
        background-color: rgba($color: #000, $alpha: 0.05);
        color: $primary-color-hover;
      }

      &:active, &.router-link-exact-active {
        background-color: rgba($color: #000000, $alpha: 0.1);
        color: $primary-color-pressed;
      }
    }

    .submenu-link {
      padding-left: 2rem;
    }
  }
}

