@import '@/assets/scss/variables';

nav {
  background-color: $primary-color;
  padding: 0 0.5rem;
  max-width: 100%;
  height: auto;

  .dropdown {
    @media (min-width: 768px) {
      position: absolute;
      padding-top: 0.25rem;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.2s;
      visibility: hidden;
      opacity: 0;
      top: calc(100% + 0.5rem);
      z-index: 999;
    }

    & > ul {
      padding: 0.5rem 0;
      background-color: $primary-color;
      min-width: 13.5rem;
      border-radius: 0.25rem;
      box-shadow: 0 3px 5px rgba($color: #000, $alpha: 0.1);
    }
  }

  ul.nav {
    padding: 0;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;

    @media (min-width: 1024px) {
      gap: 2rem;
    }

    & > li {
      position: relative;

      &:hover {
        .dropdown {
          top: 100%;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .nav-link {
    color: #000000;
    background-color: transparent;
    line-height: 1rem;
    padding: 0 1rem;
    display: inline-flex;
    align-items: center;
    height: 48px;
    transition: all 0.3s ease;
    font-size: 0.75rem;

    &:hover {
      background-color: $primary-color-hover;
    }

    &:active {
      background-color: $primary-color-pressed;
    }

    @media (min-width: 768px) {
      padding: 0 0.5rem;
    }

    @media screen and (min-width: 1024px) {
      height: 56px;
      font-size: 0.875rem;
    }
  }

  .dropdown-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    height: 40px;

    &:hover {
      background-color: $primary-color-hover;
    }

    &:active {
      background-color: $primary-color-pressed;
    }
  }
}
