.menu {
  &__header {
    display: flex;
    gap: 1rem;
  }

  &__header-authenticated {
    display: flex;
    gap: 1rem;
  }

  &__auth {
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 0;

    a {
      text-decoration: underline;
    }

    &--logout {
      background-color: transparent;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      color: #7a7775;
      padding: 0;
      margin: 0;
    }
  }

  &__link {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 1rem;
    height: 2.5rem;
    line-height: 1.25rem;
    font-weight: 600;
    transition: all 0.2s ease;
  }
}
