.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bordered {
  border: 1px dashed #cdcaca !important;
  border-radius: 10px;
  padding: 20px;
  height: 90%;
}

.pix-payment-form {
  width: 100%;
  margin-bottom: 20px;

  &__container {
    max-width: 1000px;
    width: 100%;
    justify-content: space-between !important;

    .copy-to-clipbord-button {
      margin-top: 20px;
    }
  }

  h1 {
    font-size: xx-large;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  span {
    margin-bottom: 3rem !important;
  }

  ul {
    list-style: decimal;
    font-size: large;
  }

  .n-space {
    margin-top: 20px;
  }
}
