.product-skeleton {
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
  border: 1px solid #CCC;
  overflow: hidden;

  &__image {
    position: relative;
    width: 100%;
    padding-bottom: 76.03%;
    overflow: hidden;
  }

  &__content {
    padding: .75rem;
  }
}