.title {
  margin: 2rem 0 1rem;
  text-align: center;
  font-weight: 300;
  color: $primary-color;
  font-size: 2rem;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 3rem;
    margin: 3rem 0 1rem;
  }
}

.subtitle {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #AAA;

  @media (min-width: 768px) {
    margin-bottom: 3rem;
  }
}

.category {
  padding: 0 1rem 3rem;

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 1.5rem;
    color: #A6ACAF
  }

  &__pagination {
    margin-top: 3rem;
  }

  &__skeleton, &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}