@use '~scss/variables' as *;

.orders {
  max-width: 1200px;
  min-height: 70vh;
  flex-grow: 0;
  margin: 0 auto;

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }

  &__empty {
    text-align: center;
    margin-bottom: 1.5rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.2rem;
    }

    :deep(.n-button) {
      text-decoration: underline;
      padding: 0.5rem 1rem;

      .n-button__content {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
  }
}
.order {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h2 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__product {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem 0;

    &__image {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__name {
      font-size: 1.25rem;
      color: $primary-color;
      font-weight: 700;
      margin: 0;
    }

    &__price {
      font-size: 1.25rem;
      margin: 0;
    }

    &__quantity {
      font-size: 1.25rem;
      margin: 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  &__total {
    font-size: 1.2rem;
  }
}
