.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  min-height: 100vh;

  @media(max-width: 768px) {
    padding: 0 2rem;
  }

  &__form-container {
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
      box-shadow: none;
      padding: 0;
      margin: 0
    }

    p {
      margin-bottom: 1rem;
      color: $primary-color;
      text-align: center;
      font-weight: 500;
      font-size: 1.10rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__form-actions {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }

  &__buttons {
    margin-top: 1rem;
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

:deep(.vue-tel-input) {
  border: 1px solid rgb(224, 224, 230);
  border-radius: 10px;
  padding: 2px;
  width: 100%;

  &:hover {
    border-color: $primary-color;
  }
  &:focus-within {
    box-shadow: 0 0 0 2px rgba(218, 154, 57, 0.2);
    border-color: $primary-color;
  }
}