.search {
  padding: 0 1rem 3rem;
  
  &__pagination {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  &__empty {
    min-height: 40rem;
  }

  &__skeleton, &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

}