.feature-item {
  position: relative;
  padding-top: 2rem;
  overflow: hidden;
  width: 100%;

  &__label {
    background-color: $primary-color;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    display: flex;
    width: 100%;
    max-width: 15rem;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    height: 3.125rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  a {
    display: block;
    width: 100%;
    height: 16.5rem;
    background-position: center center;
    background-size: cover;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}