@import '@/assets/scss/variables.scss';

.header {
  background-color: #000000;
  width: 100%;
  top: 0;

  &__top {
    display: flex;
    align-items: center;
    max-width: 1366px;
    padding: .5rem 1rem;
    margin: 0 auto;
    gap: 1rem;

    @media (min-width: 768px) {
      gap: 2rem;
    }

    .logo {
      flex: 0 0 auto;
      display: inline-flex;
      align-items: center;
      height: 3rem;

      img {
        height: 100%;
        width: auto;
      }

      @media (min-width: 768px) {
        height: 4rem;
      }
    }

    .search-bar {
      flex: 1;
    }

    .menu {
      flex: 0 0 auto;
    }
  }

  &__logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;

    img {
      width: 250px;
      grid-column-start: 2;
      grid-column-end: 3;
      justify-self: center;
      align-self: center;

      @media (max-width: 840px) {
        width: 150px;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    color: #DA9A39;
    margin-right: 1rem;

    @media (min-width: 840px) {
      gap: 2rem;
    }
  }

  &__menu-search {
    position: relative;

    input {
      background-color: transparent;
      color: #ffffff;
      border: none;
      border-bottom: 2px solid #DA9A39;
      height: 2.5rem;
      width: 100%;
    }

    .search-button {
      position: absolute;
      right: 0;
      top: 0;
      height: 2.5rem;
      width: 2.5rem;
      background-color: transparent;
      border: none;
      border-radius: 0 0.25rem 0.25rem 0;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}