.checkout {
  &__confirm {
    .user {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media (max-width: 840px) {
        grid-template-columns: 1fr;
      }
    }
  
    .product {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 2rem;
      gap: 1rem;
  
      .product__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .product__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
      }

      .product__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 12rem;

        h3 {
          margin: 0.4rem;
        }

        .price-title {
          font-weight: 400;

        }
      }
    }

    .amount {
     .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 12rem;

         h3 {
          margin: 0.4rem;
         }

         @media (max-width: 840px) {
          width: 100%;
         }
      }
    }
  }
}