@use '~scss/variables' as *;

.card {
  color: $primary-color;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #cdcaca;

  header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__input {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__form {
    width: 100%;
  }
}
